*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    border-radius: 8px

}
.container{
    max-width: 1000px;
    margin: auto;
}
header{
    background-color: #48C5CE;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
}

.title{
    font-size: 26px;
}

section{
    color: black;
    padding: 20px;
    background-image: url('people.jpg');
    background-size: cover;
    overflow: hidden; 
}

.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
    border-radius: 5px
}

h2{
    font-size: 16px;



}

.mb{
    margin-bottom: 15px;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border:none;
    margin-bottom: 10px;
}
input[type="submit"]{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
    border-radius: 5px;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('arrow.jpg');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    /*background-position: calc(100% - 10px) center;*/
}

footer{
    background-color: #202121;   
    padding: 40px;
    text-align: center;
}

.picture{
    width: 160px;
    border-radius: 5px;
}
.description{
    color:white;
    display: inline-block;
    max-width: 40%;
    margin-left: 40px;
    text-align: left;
}

.description p, .description h3{
    margin-bottom: 20px;

}

.description h3{
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
     {
    .formContainer {float: center}
    }
}
